@charset "UTF-8";

/* -------------------
/*        base
/* -------------------*/

html{
    font-size: 62.5%;
}

body{
    background-color: #ffffff;
    background-size: cover;
    color: #000000;
    font-size: 1.4rem;
    font-family: Raleway, "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    width: 100%;
    text-align: center;
    margin: 0px;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a:link,a:visited,a:hover,a:active{
    color: #fff;
    text-decoration: none;
}

/* -------------------
/*        header
/* -------------------*/

.header-top{
    text-align: center;
}

.header-info{
    position: absolute;
    right: 30px;
    top: 10px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

/* -------------------
/*        logo
/* -------------------*/

.logo-box{
    display: inline-block;
    margin-right: 200px;
}

.logo-first{
    display: inline-block;
    font-weight: bold;
}

.logo-second{
    display: inline-block;
    font-weight: normal;
}

/* -------------------
/*        icon
/* -------------------*/
.header-info .search-box{
    display: inline-block;
}

.header-info .icon{
    display: inline-block;
    font-size: 2rem;
    margin-left: 20px;
}

/* -------------------
/*        gloval-nav
/* -------------------*/
.header-menu{
    border: 1px solid #c0c0c0;
    border-left-color: transparent;
    border-right-color: transparent;
    font-weight: bold;
}

#global-nav ul{
    overflow: hidden;
}

#global-nav li{
    float: left;
    width: 160px;
    list-style: none;
}

#global-nav li:nth-of-type(1),
#global-nav li:nth-of-type(2)
{
    border:1px solid transparent;
    border-right-color: #c0c0c0;
}