@charset "UTF-8";

/* -------------------
/*        base
/* -------------------*/

html{
    display: block;
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: #ffffff;
    background-size: cover;
    color: #000000;
    font-size: 1.4rem;
    font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック','MS P Gothic', Osaka, sans-serif;
    width: 100%;
    text-align: center;
    margin: 0px;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a:link,a:visited,a:hover,a:active{
    color: #fff;
    text-decoration: none;
}

/* -------------------
/*        header
/* -------------------*/
header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    z-index: 3;
}

.header-top{
    text-align: center;
    background-color: #ffffff;
}

.header-info{
    position: absolute;
    top: 5px;
    right: 15px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    background-color: #ffffff;
}
/* -------------------
/*        logo
/* -------------------*/

.logo-box{
    display: block;
    width: 250px;
    margin-right: 100px;
    padding: 10px 15px;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 3px;
}

.logo-first{
    display: inline-block;
    font-weight: bold;
}

.logo-second{
    display: inline-block;
    font-weight: normal;
}

/* -------------------
/*        icon
/* -------------------*/
.header-info .search-box{
    display: inline-block;
}

.header-info .icon{
    display: inline-block;
    font-size: 2rem;
    margin-left: 20px;
}

/* -------------------
/*    gloval-nav
/* -------------------*/
.header-menu{
    border: 1px solid #f0f0f0;
    border-left-color: transparent;
    border-right-color: transparent;
    font-weight: bold;
    background-color: #ffffff;
}

#global-nav ul{
    overflow: hidden;
    padding: 0px;
    max-width: 1050px;
    font-size: 1.3rem;
}

#global-nav li{
    position: relative;
    float: left;
    width: 33%;
    list-style: none;
}

#global-nav li:nth-of-type(1),
#global-nav li:nth-of-type(2)
{
    border:1px solid transparent;
    border-right-color: #f0f0f0;
}

/* -------------------
/*    top-visual
/* -------------------*/
.top-visual{
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    border-top-color: #000000;
    margin-top: 115px;
}
/* -------------------
/*    routine
/* -------------------*/
#routine .title{
    font-size: 3.2rem;
    font-weight: bold;
}

#routine .title::before{
    position: absolute;
    right: 22em;
    bottom: 27%;
    content: 'ルーティーン';
    font-size: 0.5rem;
}

#routine .text{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
}

#routine h2{
    font-size: 3.2rem;
}

/* -------------------
/*    making-movie
/* -------------------*/
#making-movie h2{
    font-size: 3.2rem;
    margin-bottom: 0px;
}

.movie-box-pager {
    display: block;
    height: 15px;
}

.movie-box-pager .box-pager-item{
    display: inline-block;
    width: 20px;
}

.movie-box-pager a{
    display: block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    color: #666666;
    background-color: #666666;
    font-size: 0;
}

.movie-box-slider .slider-img-makeup{
    display: block;
    animation:1s fadeIn;
}